.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  padding: 100px 0px 20px 0px;
}
.paragraph {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 5px #191970;
  border-radius: 30px;
}
.p {
  margin: 0px 0px;
  padding: 20px 0px 10px 0px;
  font-size: 14px;
  font-weight: 100;
  font-family: yekan;
}
.h3_One,
.h3_Two {
  margin: 0px 0px;
  font-size: 20px;
  font-family: yekan;
  padding: 10px 0px;
  direction: rtl;
  font-weight: 800;
}
.h3_One {
  color: #191970;
}
.h3_Two {
  color: #4caf50;
}
