.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  border-bottom: 1px solid #e9e9ef;
}
.title {
  font-size: 36px;
  font-weight: 700;
  padding: 0px 0px 30px 0px;
}
.image_co {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 80px 10px;
  flex-wrap: wrap;
}
.image_div {
  margin: 20px;
  display: flex;
}
.image {
  height: 40px;
  filter: grayscale(100%);
}
.image:hover {
  filter: grayscale(0%);
}
.div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  text-align: center;
  height: 20rem;
  width: 95%;
  color: white;
  background-color: #191970;
}
.btn {
  color: #191970;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  border-radius: 5px;
  border: none;
  padding: 16px;
}
.div_title {
  margin-bottom: 25px;
  font-size: 42px;
  font-weight: 700;
}
.textCname {
  font-size: 20px;
  margin: 0px !important;
}
.ptag {
  margin: 0px !important;
}

@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 1200px) {
  .title {
    font-size: 30px;
    font-weight: 700;
    padding: 0px 0px 30px 0px;
  }
}
@media only screen and (max-width: 900px) {
  .title {
    font-size: 28px;
    font-weight: 700;
    padding: 0px 0px 30px 0px;
  }
 
  .textCname {
    font-size: 16px;
    margin: 0px !important;
  }
 
}
@media only screen and (max-width: 720px) {
  .title {
    font-size: 26px;
    font-weight: 700;
    padding: 0px 0px 30px 0px;
  }
  .textCname {
    font-size: 14px;
    margin: 0px !important;
  }
}
@media only screen and (max-width: 477px) {
  .title {
    font-size: 26px;
    font-weight: 700;
    padding: 0px 0px 30px 0px;
  }
 
  .textCname {
    font-size: 16px;
    margin: 0px !important;
  }
}
