.container{
    padding: 110px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.paragraph{
    width: 100%;
}
.image{
    width: 100%;
}
.paragraph_title{
    color: #191970;
    font-size: 22px;
    font-weight: 600;
}
.paragraph_title2{
    font-size: 22px;
    font-weight: 600;
}
.paragraph_p{
    font-size: 17px;
    padding: 5px 0px;
    font-weight: 600;
}