.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
}
.footrco {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #e9e9ef;
}
.title {
  margin: 0px;
  color: #191970;
}
.newstitle {
  color: #191970;
  font-size: 16px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 25px 0px;
}
.ptag {
  margin: 0;
}
.input {
  padding: 10px;
  height: 50px;
  width: 200px;
  outline: none;
  border: 1px solid #e9e9ef;
}
.btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 22px;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  background-color: #191970;
}
[dir="ltr"] .btn {
  font-size: 16px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.input_co {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.list_four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.li {
  margin: 10px 0px;
  cursor: pointer;
}
.li:hover {
  text-decoration: underline;
}
