.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-bottom: 90px;
}
.footrco {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e9e9ef;
  margin-bottom: 90px;
}
.title {
  margin: 0px;
  color: #191970;
}
.newstitle {
  color: #191970;
  font-size: 16px;
}
