.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
}
.footrco {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #e9e9ef;
}
.items {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}
.title {
  font-weight: 600;
  margin: 0px;
  color: #191970;
}
.newstitle {
  color: #191970;
  font-size: 16px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 25px 0px;
}
.ptag {
  margin: 0;
}
.input {
  padding: 10px;
  height: 50px;
  width: 200px;
  outline: none;
  border: 1px solid #e9e9ef;
}
.btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 22px;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  background-color: #191970;
}
[dir="ltr"] .btn {
  font-size: 16px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.input_co {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.list_four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.li {
  font-size: 14px;
  margin: 5px 0px;
  cursor: pointer;
}
.li:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
  .items {
    margin-top: 20px;
  }
  .footrco {
    flex-direction: column;
  }
  .newstitle {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 720px) {
  .copyright {
    text-align: center;
  }
  .enamad {
    align-self: center;
  }
  .items {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
  }
  .footrco {
    justify-content: center;
    align-items: center;
  }
  .title {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 477px) {
}
