.navbar {
  box-shadow: 0 2px 5px -1px rgb(50 50 93 / 25%),
    0 1px 3px -1px rgb(0 0 0 / 30%);
  position: fixed !important;
  top: 0px !important;
  z-index: 10;
  width: 100%;
}

.image {
  width: 40px;
  margin: 0px 10px;
}
.Cname {
  justify-content: center;
  align-items: center;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0px 10px;
}
.Cname:hover {
  color: #191970 !important;
}
.Cname::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 10px;
  display: block;
  content: "";
  border-bottom: solid 1px #191970;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}
.Cname:hover::after {
  color: #191970 !important;
  transform: scaleX(1);
}

.span {
  height: 40px !important;
  margin: 0px 10px;
  font-size: 16px;
}
[dir="ltr"] .span {
  font-size: 14px;
}
.collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
