.navbar {
  box-shadow: 0px 0px 3px 0px;
  position: fixed !important;
  top: 0px;
  z-index: 20;
}
.Cname {
  justify-content: center;
  align-items: center;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0px 10px;
}
.Cname:hover {
  color: #191970 !important;
}
.Cname::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 10px;
  display: block;
  content: "";
  border-bottom: solid 1px #191970;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}
.Cname:hover::after {
  color: #191970 !important;
  transform: scaleX(1);
}

.span {
  height: 40px !important;
  margin: 0px 10px;
  font-size: 16px;
}
[dir=rtl].span{
  height: 150px!important;
}



