.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 70px 0px 0px 0px;
}
.paragraph {
  width: 50%;
}
.paragraph_title {
  color: #191970;
  font-size: 22px;
  font-weight: 600;
}
.paragraph_li {
  font-weight: 600;
  font-size: 20px;
  padding: 5px 0px;
}

.image {
  width: 50%;
}
