.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  flex: 1;
  width: 0px;
}
.title{
  padding-bottom: 352px;
  margin-bottom: 50px;
  width: 180px;
}
.arrows {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 150px;
  background-color: #fff;
  position: absolute;
  display: flex;
  align-self: flex-start;
  bottom: 75px;
  left: 0;
}

