.container {
  width: 100%;
  padding: 80px 0px 0px 0px;
  text-align: center;
}
.title {
  font-size: 36px;
  font-weight: 600;
}
.btn_container {
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: row;
}
.btn {
  color: #191970;
  background-color: #fff;
  border: none;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
  align-items: center;
  padding: 10px;
}
.activebtn {
  color: #191970;
  background-color: #fff;
  border: none;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
  align-items: center;
  padding: 10px;
  border-top: 6px solid #191970;
}

.ptag {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 2px 0px;
}

.textCname {
  font-size: 20px;
  margin-right: 60px;
}
[dir="ltr"] .textCname {
  font-size: 18px;
  margin-left: 60px;
}
.swiperslide {
  width: 100%;
  padding: 0px 0px 100px 0px;
}
.arrows {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 150px;
  background-color: #fff;
  position: absolute;
  display: flex;
  align-self: flex-start;
  bottom: 75px;
  left: 0;
}
@media only screen and (max-width: 1400px) {
  [dir="ltr"] .textCname {
    font-size: 16px;
    margin: 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  [dir="ltr"] .textCname {
    font-size: 16px;
    margin: 0px;
    width: 100%;
  }

  .textCname {
    font-size: 16px;
    margin: 0px;
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .icon_cname {
    display: none;
  }
  [dir="ltr"] .textCname {
    font-size: 16px;
    margin: 0px;
    width: 100%;
  }

  .textCname {
    font-size: 16px;
    margin: 0px;
    width: 100%;
  }
  .title {
    font-size: 28px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 792px) {
  .textCname {
    font-size: 12px;
    margin: 0px !important;
    width: 100%;
  }
  .title {
    font-size: 22px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 477px) {
}
