.container {
  padding: 110px 0px 0px 0px;
  display: flex;
  flex-direction: row;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.paragraph {
  width: 50%;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.image_title {
  padding: 10px 30px;
  font-size: 32px;
}
.title_paragraph {
  color: #191970;
  font-size: 22px;
  font-weight: 600;
}

.paragraph_li {
  font-size: 17px;
  padding: 5px 0px;
}

@media only screen and (max-width: 1200px) {
  .image_title {
    padding: 10px 30px;
    font-size: 30px;
  }
  .paragraph_li {
    font-size: 14px;
    padding: 5px 0px;
  }
}
@media only screen and (max-width: 992px) {
  .image_title {
    padding: 10px 30px;
    font-size: 24px;
  }
  .container {
    padding: 50px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .title_paragraph {
    color: #191970;
    font-size: 14px;
    font-weight: 600;
  }
  .paragraph_li {
    font-size: 12px;
    padding: 5px 0px;
  }
}

@media only screen and (max-width: 792px) {
  .image_title {
    padding: 10px 30px;
    font-size: 14px;
  }
  .title_paragraph {
    color: #191970;
    font-size: 11px;
    font-weight: 600;
  }
  .paragraph_li {
    font-size: 10px;
    padding: 5px 0px;
  }
  .container {
    padding: 50px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .imageContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .paragraph {
    width: 100%;
  }
}
@media only screen and (max-width: 477px) {
}
