.container {
  padding: 40px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: rtl;
}
.h3_one,
.h3_two,
.h3_three,
.h3_four,
.h3_five {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}
.h3_one {
  font-size: 20px!important;
  font-weight: 800;
  color: #191970;
}


.span {
  font-weight: 100;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
