@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

html,
body {
  font-family: iransans;
}
@font-face {
  font-family: iransans;
  src: url("../Asset/fonts/IRANSansWeb.ttf");
  src: url("../Asset/fonts/IRANSansWeb.woff");
}

button#dropdown-basic {
    border: none;
}

[class^="swiper_container"] {
  outline: none !important;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 88px;
  left: 850px;
  width: 120px;
  background-color: #ffffff;
}
[dir=ltr] .swiper-horizontal > .swiper-pagination-bullets,
[dir=ltr] .swiper-pagination-bullets.swiper-pagination-horizontal,
[dir=ltr] .swiper-pagination-custom,
[dir=ltr] .swiper-pagination-fraction {
  left: 100px;
}

:root {
  --swiper-theme-color: #adb1bf;
}
.swiperpeoplesay_container__aMimU,
.swiperflexible_container__eYPyK,
.swiperpeoplesay_container__SuT3U,
.swipernews_container__RFydq,
.swiperflexible_container__sZSik,
.swipernews_container__nx\+uq {
  position: relative;
}
.swiperpeoplesay_container__aMimU::after,
.swiperflexible_container__eYPyK::after,
.swiperpeoplesay_container__SuT3U::after,
.swipernews_container__RFydq::after,
.swiperflexible_container__sZSik::after,
.swipernews_container__nx\+uq::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #e9e9ef;
  left: 0px;
  right: 0px;
  bottom: 100px;
  z-index: 0;
}
.stork {
  background-color: #badeff;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}
