.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 1px solid #e9e9ef;
  width: 100%;
  padding: 30px;
}

.logo {
  height: 50px;
  margin-left: auto;
  margin-bottom: 20px;
}
.title {
  align-self: flex-start;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}
.discretion {
  font-weight: 100;
  font-size: 16px;
  height: 250px;
  overflow: hidden;
  line-height: 28px;

}
.co_profile {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}
.avatar {
  border-radius: 50%;
  height: 50px;
  margin-left: 10px;
}
[dir="ltr"] .avatar {
  margin-right: 20px;
}
.profile {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 13px;
  margin: 0px;
}
.jobTitle {
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}
