.arrows{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    width: 150px;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-self: flex-start;
    bottom: 75px;
    left: 0;
    
  }
  .swiperslide {
    width: 100%;
    padding: 0px 0px 100px 0px;
  }