.container {
  margin: 0px 0px;
  z-index: 2;
}
.btn {
  height: 50px;
  width: 50px;
  border: 2px solid #aeb3c25b;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
  border-radius: 50%;
  background: #f0f0f0;
}

.btn:hover {
  transition: ease-in-out;
  transition-duration: 300ms;
  border: 2px solid #8186929a;
}
.icon {
  color: #acb1c0;
}

